<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compute Your Profile</title>
</head>
<body>
    <h3>Compute Your Profit: </h3>
    <form action = "" method = "POST">
         <p>Ticker Symbol <input type = "text" name = "Ticker Symbol" /></p>
         <p>Allotment <input type = "text" name = "Allotment" /></p>
         <p>Final Share Price <input type = "text" name = "Final Share Price" /></p>
         <p>Sell Commission <input type ="text" name = "Sell Commission" /></p>
         <p>Initial Share Price <input type ="text" name = "Initial Share Price" /></p>
         <p>Buy Commission <input type ="text" name = "Buy Commission" /></p>
         <p>Capital Gain Tax Rate (%) <input type ="text" name = "Capital Gain Tax Rate (%)" /></p>
         <p><input type = "submit" value = "Calculate" /></p>
      </form>
</body>
</html>